:root {
    --color1:#fc7300;
    --color2: #1f8a70;
    --color3: #00425A;
    --color4: #181823;
    --color5: #eff5f5;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0.5;
    box-sizing: border-box;
}

nav  {
    /* display: block; */
    background-color: var(--color3);
    color: var(--color5);
    text-decoration-line: none;

}

.div-principal {
    background-image:url(../Imagenes/BannerPrincipal.jpg);
    /* width: 100%; */
    height: 30rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color5);
    align-items: center;
    justify-content: center;

}

.div-principal > h1 {
    font-size: 2.5rem;
    animation-name: tracking-in-expand 2s infinite;
}
#banner-principal {
    width: 70%;
}
#portada-somos {
    width: 100%;
}
#portada-elegirnos {
    width: 70%;

}

/* @media (min-width: 320px) { */
/* adaptacion celulares 320px */
.somos , .elegirnos {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 90%;
gap:20px;
margin-top: 20px;
}
.div-somos , .div-elegirnos {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
.div-somos , .div-elegirnos > p{
    font-size: 1.5rem;
    text-align: center;
}
.propuestas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.div-propuestas > div > a{
    text-decoration: none;
    text-decoration-line: none;
    outline-style: none;
    color: #00425A;
    font-size: small;
}
.div-propuestas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#iconos {
    width: 80px;
    height: 80px;
}
.navbar a {
    color: #eff5f5;
}

  .div-noticias {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.noticias {
    margin-top: 50px;
}
.art-noticia{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
    #img-noticias {
    width: 50%;
    height: 50%;
}

.col-lg-3 , .col-lg-6 , .col-lg-3 {
    font-size:larger;
    display: flex;
    flex-direction: row;
    color: #eff5f5;
    padding: 10px;
    align-items: center;
    gap: 25px;
}
svg {
    margin: 0 auto; width: 30px; height: auto
}
.container {
    margin: 5px;
}

/* Adaptaciones para 768px */

@media screen and (min-width: 768px) {
    .nav-header > a { 
        display: block
    }
    header nav::before {
        display: none;
    }
    .nav-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #00425A;
        padding: 3vw;
    }
    .nav-header > a {
        color: #eff5f5;
        background-color:#00425A ;
        outline-style: none;
        font-size: medium;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
    .div-principal > h1 {
        font-size: 4rem;
    }
    .somos, .elegirnos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #portada-somos {
        width: 70%;
        height: 70%;
        display: flex;
        padding: 1.5rem;
    }
    #portada-elegirnos {
        width: 50vw;
        height: 50vw;
        display: flex;
        padding: 1.5rem;
    }
   .div-somos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   }
   .div-elegirnos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
   }
   .propuestas {
    display: flex;
    flex-direction: column;
    }
    .div-propuestas {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .div-propuestas > div {
        padding: 5vw;
        width: 200px;
        height: 200px;
    }
    .propuestas > div > a{
        text-decoration: none;
        text-decoration-line: none;
        outline-style: none;
    }
    #iconos {
        width: 100px;
        height: 100px;
    }
    .noticias {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center; 
    }
    .noticias h2 {
        position: relative;
    }
    .noticias >div > article {
        width: 50%;
    }
    .div-noticias {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    #img-noticias {
        width: 50%;
        height: 50%;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .redes , .contacto {
        display: flex;
        flex-direction: column;

    }
}

/* adaptaciones 1020px */
@media screen and (min-width: 1020px) {

    .somos, .elegirnos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:flex-start
    }
    section > div > p {
        font-size: 1.5rem;
    }
    #portada-somos {
        width: 50%;
        height: 50%;
        display: flex;
        padding: 1.5rem;
    }
    #portada-elegirnos {
        width: 45%;
        height: 45%;
        display: flex;
        padding: 1.5rem;
    }
   .div-somos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
   }
   .div-elegirnos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
}
.propuestas {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top:  30px;
    
    }
    .div-propuestas {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .div-propuestas > div {
        padding: 3vw;
        width: auto;
        height: auto;
    }
    .propuestas > div > a{
        text-decoration: none;
        text-decoration-line: none;
        outline-style: none;
    }
    #iconos {
        width: 100px;
        height: 100px;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .redes , .contacto {
        display: flex;
        flex-direction: column;

    }
    .art-noticia   {
        font-size: 1.3rem;
        text-align: center;
        gap: 15px;
    }
    a
    element.style {
    }
    .navbar a {
        color: #eff5f5;
        background-color: var(--color3)
        
    }
    .col-lg-3 , .col-lg-6 , .col-lg-3 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        color: #eff5f5;
        padding: 10px;
        align-items: center;
        gap: 25px;
    }
    svg {
        margin: 0 auto; width: 50px; height: auto
    }
    @media (min-width: 992px)
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .collapse:not(.show) {
        display: none;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    user agent stylesheet
    div {
        display: block;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
    }

}   